.home-container {
  background-color: #fff; }
  .home-container .sidebar-container {
    position: fixed !important;
    min-width: 220px;
    max-width: 220px;
    padding-left: 30px !important; }
  .home-container .book-list-container {
    display: flex;
    flex-direction: column;
    margin-left: 220px;
    justify-content: space-between; }
  .home-container .home-banner {
    display: flex;
    flex-direction: column;
    height: 256px;
    margin: 0 10px;
    background-image: url("/static/images/home.jpg");
    background-position: center;
    justify-content: center;
    align-items: center; }
    .home-container .home-banner .home-title {
      font-size: 3.5em;
      margin-bottom: 20px; }
    .home-container .home-banner .home-description {
      font-size: 1.5em; }
