// These will go in the global style configuration
$header-height: 80px;

// Sticky footer
.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1;
  margin-top: $header-height;
}
