$menu-item-header-color: #b6b6b6;
$menu-item-item-hover-color: #e7e7e7;

.menu-item-header {
  padding: 7px !important;
  margin-bottom: 10px !important;
  color: $menu-item-header-color !important;
}

.menu-item-item {
  padding: 7px !important;

  &:hover {
    background-color: $menu-item-item-hover-color;
    cursor: pointer;
  }
}
