.tabular.menu {
  margin-bottom: 0;
}

.related-records-form {
  .content {
    .header {
      span.extra {
        color: #21ba45;
        float: right;
        font-size: 0.85rem;
        font-weight: 500;
      }
    }
  }
}
