# -*- coding: utf-8 -*-
#
# Copyright (C) 2018 CERN.
#
# invenio-app-ils is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.
#
# How to generate this file by running the following commands:
#
# pip install -e .
# pip install pip-tools
# pip-compile
#
# You can read more about pip-compile command here:
# https://github.com/jazzband/pip-tools#example-usage-for-pip-compile

-e git+git://github.com/inveniosoftware/invenio-accounts.git#egg=invenio-accounts
-e git+git://github.com/inveniosoftware/invenio-oauthclient.git@rest-api#egg=invenio-oauthclient
