$book-border-color: #e2e2e2;
$white: #fff;

.book-cover {
  display: flex;
  flex-direction: column;

  border: 1px solid $book-border-color;
  border-radius: 2%;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center;

  align-items: center;
  justify-content: center;
  will-change: opacity;
}
