.book-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 320px;
  margin: 10px; }
  .book-item .book-cover {
    width: 100%;
    height: 80%;
    border: 1px solid #e2e2e2;
    border-radius: 2%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    will-change: opacity; }
  .book-item .book-overlay {
    position: absolute;
    display: flex;
    width: 100%;
    height: 80%;
    padding: 10px;
    opacity: 0;
    color: #fff;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: flex-end;
    justify-content: space-around; }
    .book-item .book-overlay:hover {
      cursor: pointer;
      transition: all 0.1s;
      opacity: 1; }
  .book-item .book-meta {
    margin-top: 10px; }
