.book-list {
  display: flex;
  flex-direction: column; }
  .book-list .book-list-header {
    display: flex;
    margin: 30px 10px 10px;
    color: #b1b2ac;
    font-weight: 300;
    font-size: 2rem; }
  .book-list .book-list-content {
    display: flex;
    flex-wrap: wrap; }
