.menu-item-header {
  padding: 7px !important;
  margin-bottom: 10px !important;
  color: #b6b6b6 !important; }

.menu-item-item {
  padding: 7px !important; }
  .menu-item-item:hover {
    background-color: #e7e7e7;
    cursor: pointer; }
