.book-details-container {
  padding: 40px; }
  .book-details-container .book-details {
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap; }
  .book-details-container .book-meta {
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px; }
