{% block subject %}
InvenioILS: your literature request for "{{ request.title }}" has been declined.
{% endblock %}

{% block body_plain %}
Dear {{ patron.name }},

your literature request for "{{ request.title }}" has been declined because the literature you are looking for
has not been found.
{% endblock %}


{% block body_html %}
Dear {{ patron.name }},

your literature request for "{{ request.title }}" has been declined because the literature you are looking for
has not been found.
{% endblock %}
