$padding-40: 40px;
$margin-50: 50px;

.book-details-container {
  padding: $padding-40;

  .book-details {
    display: flex;
    margin-bottom: $margin-50;
    flex-wrap: wrap;
  }

  .book-meta {
    display: flex;
    flex-wrap: wrap;
    margin-right: $margin-50;
  }
}
