$es_red: #d41414;

#es-selector {
  width: 100%;

  .input {
    width: 100% !important;
  }

  .error {
    .input {
      color: $es_red;
    }

    input {
      border-color: $es_red;
    }

    .results .title {
      color: $es_red;
    }
  }

  .result-selections {
    padding-bottom: 0;

    .extra {
      color: #21ba45;
      float: right;
      font-size: 0.85rem;
      font-weight: 500;
    }
  }

  p {
    margin-top: 10px;
    margin-left: 5px;
  }
}
