{% block subject %}
Your loan on {{'document information'}} is overdue!
{% endblock %}


{% block body %}
Dear {{ patron_email }},

your loan on "{{ document.title.title }}", expired {{ days_ago }} days ago.

You have reached the maximum period for loaning a book. You are kindly requested
to return the book at the Library or request an extension for your loan.

You can manage your loans on your profile page.

Kind regards,
Signature
{% endblock %}


{% block html %}
Dear <strong>{{ patron_email }}</strong>,

your loan on "<strong>{{ document.title.title }}</strong>",
expired <strong>{{ days_ago }}</strong> days ago.

You have reached the maximum period for loaning a book. You are kindly requested
to return the book at the Library or request an extension for your loan.

You can manage your loans on your <a href="/profile">profile</a> page.

Kind regards,
Signature
{% endblock %}

