.menu-item-center {
  margin-left: auto !important;
}

.mr-20 {
  margin-right: '50px';
}

.header-menu {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5) !important;
}

.logo {
  font-size: 1.8em;
}
