.book-cover {
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e2e2;
  border-radius: 2%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  will-change: opacity; }
