{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "camelcase": [
      "error",
      {
        "properties": "never",
        "ignoreDestructuring": true
      }
    ]
  }
}
