.footer {
  display: flex;
  height: 180px;
  color: #fff;
  background-color: #000;
  align-items: center;
  justify-content: space-evenly; }
  .footer .footer-list {
    display: flex;
    flex-direction: column; }
