.book-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px; }
  .book-item .book-overlay {
    position: absolute;
    display: flex;
    padding: 10px;
    opacity: 0;
    color: #fff;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: flex-end;
    justify-content: space-around; }
    .book-item .book-overlay:hover {
      cursor: pointer;
      transition: all 0.1s;
      opacity: 1; }
  .book-item .book-meta {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
    font-weight: 500; }
    .book-item .book-meta .book-title {
      font-size: 1.1rem; }
    .book-item .book-meta .truncate {
      width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .book-item .book-meta .book-author {
      color: #b1b2ac; }
