$white: #fff;
$black: #000;
$black-20: rgba(0, 0, 0, 0.2);
$book-border-color: #e2e2e2;
$color-author: #b1b2ac;

$margin-10: 10px;
$padding-10: 10px;

.book-item {
  position: relative;

  display: flex;
  flex-direction: column;

  margin: $margin-10;

  .book-overlay {
    position: absolute;
    display: flex;
    padding: $padding-10;

    opacity: 0;
    color: $white;
    border-radius: 2%;
    background-color: $black-20;

    align-items: flex-end;
    justify-content: space-around;

    &:hover {
      cursor: pointer;
      transition: all 0.1s;

      opacity: 1;
    }
  }

  .book-meta {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: $margin-10;
    font-weight: 500;

    .book-title {
      font-size: 1.1rem;
    }

    .truncate {
      width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .book-author {
      color: $color-author;
    }
  }
}
