{% block subject %}
InvenioILS: your loan for "{{ document.title }}" has started.
{% endblock %}

{% block body_plain %}
Dear {{ patron.name }},

your loan for "{{ document.full_title }}" <{{ spa_routes.HOST }}{{ spa_routes.PATHS['literature']|format(pid=document.pid) }}> has started.

The due date is {{ loan.end_date }}.
{% endblock %}

{% block body_html %}
Dear {{ patron.name }},

your loan for <a href="{{ spa_routes.HOST }}{{ spa_routes.PATHS['literature']|format(pid=document.pid) }}">"{{ document.full_title }}"</a> has started.

The due date is {{ loan.end_date }}.
{% endblock %}
