.records-search-searchbar {
  margin-bottom: 2em;
}

.documents-search-container {
  .sorting {
    .before {
      margin-right: 0.5em;
    }
    .middle {
      padding: 0 0.5em;
    }
  }

  .empty-results-current {
    font-style: italic;
    margin-bottom: 1em;
  }

  .results-list {
    margin: 2em 0 !important;
  }

  .aggregators {
    display: flex;
    flex-direction: column;
  }

  .aggregator {
    margin-left: 15px;
    margin-bottom: 1em;
  }

  .ui.container.records-search-searchbar {
    margin-bottom: 100px;
  }

  .six.wide.column {
    text-align: center;
  }

  .ui.segment {
    margin: 10px !important;
  }

  .selection.dropdown {
    margin: 10px;
  }

  .document-share-buttons {
    margin: 10px;
    text-align: left;
  }
}
