{% block title %}
InvenioILS: loan request registered for "{{ document.title|safe }}"
{% endblock %}

{% block body_plain %}
Dear {{ patron.name }},

your loan request for "{{ document.full_title }}" <{{ spa_routes.HOST }}{{ spa_routes.PATHS['literature']|format(pid=document.pid) }}> has been registered. However, the are no available copies at the moment.
We will notify you as soon as a copy will be available.
{% endblock %}

{% block body_html %}
Dear {{ patron.name }},<br/><br/>

your loan request for <a href="{{ spa_routes.HOST }}{{ spa_routes.PATHS['literature']|format(pid=document.pid) }}">"{{ document.full_title }}"</a> has been registered. However, the are no available copies at the moment.<br/>
We will notify you as soon as a copy will be available.<br/>
{% endblock %}
