# -*- coding: utf-8 -*-
#
# Copyright (C) 2020-2022 CERN.
#
# Invenio App RDM is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

name: CI

on:
  push:
    branches: master
  pull_request:
    branches: master
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 3 * * 6'
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason'
        required: false
        default: 'Manual trigger'

jobs:
  Tests:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
          tests-chunk: [acquisition, circulation, document_requests, ill, ils]
          python-version: [3.9]
          requirements-level: [pypi]
          db-service: [postgresql12, postgresql14]
          search-service: [elasticsearch7]
          include:
          - db-service: postgresql14
            DB: postgresql
            POSTGRESQL_VERSION: POSTGRESQL_14_LATEST
            SQLALCHEMY_DATABASE_URI: "postgresql+psycopg2://invenio:invenio@localhost:5432/invenio"
            DB_EXTRAS: postgresql

          - db-service: postgresql12
            DB: postgresql
            POSTGRESQL_VERSION: POSTGRESQL_12_LATEST
            SQLALCHEMY_DATABASE_URI: "postgresql+psycopg2://invenio:invenio@localhost:5432/invenio"
            DB_EXTRAS: postgresql

          - search-service: elasticsearch7
            SEARCH: elasticsearch
            ELASTICSEARCH_VERSION: ELASTICSEARCH_7_LATEST
            SEARCH_EXTRAS: elasticsearch7

    env:
      SQLALCHEMY_DATABASE_URI: ${{matrix.SQLALCHEMY_DATABASE_URI}}
      POSTGRESQL_VERSION: ${{matrix.POSTGRESQL_VERSION}}
      ELASTICSEARCH_VERSION: ${{matrix.ELASTICSEARCH_VERSION}}
      DB: ${{ matrix.DB }}
      SEARCH: ${{ matrix.SEARCH }}
      EXTRAS: tests,lorem,${{ matrix.DB_EXTRAS }},${{ matrix.SEARCH_EXTRAS }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Generate dependencies
        # setuptools pinned due to https://github.com/inveniosoftware/invenio-files-rest/issues/264
        run: |
          python -m pip install setuptools">=57.0.0,<58.0.0"
          python -m pip install --upgrade pip py wheel requirements-builder
          requirements-builder -e $EXTRAS --level=${{ matrix.requirements-level }} setup.py > .${{ matrix.requirements-level }}-${{ matrix.python-version }}-requirements.txt

      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('.${{ matrix.requirements-level }}-${{ matrix.python-version }}-requirements.txt') }}

      - name: Install dependencies
        run: |
          pip install -r .${{ matrix.requirements-level }}-${{ matrix.python-version }}-requirements.txt
          pip install .[$EXTRAS]
          pip freeze
          docker --version
          docker-compose --version

      - name: Run tests
        run: |
          ./run-tests.sh ${{ matrix.tests-chunk }}
